#root {
  margin: 20px auto;
  width: 90%;
}

p {
  font-size: 110%;
}

ul {
  list-style: none;
}

button img {
  height: 1.7em;
  vertical-align: middle;
  margin: 0 8px 0 0;
  border-radius: 4px;
}

dt {
  font-weight: bold;
  float: left;
  min-width: 200px;
  text-align: right;
}

dt:after {
  content: ':';
  margin-right: 10px;
}

dd {
  clear: right;
}

table {
  margin-bottom: 12px;
}

input {
  height: 2em;
  margin 2px;
  padding-left: 2px;
}

body,
body > main {
  background: transparent;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

main > section > ul {
  margin: 0;
  padding: 0;
}
  main > section > ul > li {
    margin-bottom: 23px;
  }
    main > section > ul > li article header h1 {
      font-size: 24px;
    }
      main > section > ul > li article header h1 a {
        text-decoration: none;
      }
        main > section > ul > li article header h1 a:hover {
          text-decoration: underline;
        }
    main > section > ul > li article aside {
      margin-bottom: 10px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }
      main > section > ul > li article time {
        font-weight: bold;
      }
      main > section > ul > li article aside ul {
        padding: 0;
      }
    main > section > ul > li article > div {
      text-align: justify;
    }
